#menu-container{
    -fx-background-color: white;
    -fx-background-image: url("../../assets/bkgs/menu-bkg-1.png");
}

#selection-box{
    -fx-background-color: -bkg-color;
    -fx-opacity: 1;
    -fx-background-radius: 9px;
}

#selection-box-center{
    -fx-background-color: transparent;
}
