/* These styles are only to see the box borders and have
   some orientation.
 */
.border-to-test-blue {
    -fx-border-size: 1px;
    -fx-border-color: dodgerblue;
    -fx-border-style: solid;
}

.border-to-test-orange {
    -fx-border-size: 1px;
    -fx-border-color: orange;
    -fx-border-style: solid;
}

/* These custom fonts aren't working */
@font-face {
    font-family: "Roboto Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoMono Medium";
    src: url("../assets/fonts/roboto-mono/RobotoMono-Medium.ttf");
}

/* Just to test a  font that is not installed */
@font-face {
    font-family: "Lobster";
    src: url("../assets/fonts/pushster/Pushster-Regular.ttf");
}

.text-font {
    -fx-font-family: Roboto;
}

.text-fill {
    -fx-text-fill: -text-fill;
}

.list-text-fill{
    -fx-text-fill: -list-text-fill;
}

.titles {
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: 500;
    -fx-font-size: 16;
    -fx-text-alignment: center;
    -fx-text-fill: -text-fill;
}

.transparent-bkg {
    -fx-background-color: transparent;
}

* {
    -primary-color: rgba(187, 134, 252, 1);
    -secondary-color: rgba(3, 218, 197, 1);
    -tertiary-color:rgba(98,0,238,1);
    -btn-hover-fill: rgba(98, 0, 238, 0.04);
    -btn-outlined-hover-fill: rgba(98, 0, 238, 0.12);
    -fab-ext-btn-hover-color: rgba(187, 134, 252, 0.88);
    -play-btn-hover-color: rgba(3, 218, 197, 0.88);
    -fab-ext-text-fill: rgba(0, 0, 0, 0.87);
    -btn-focused-fill: rgba(187, 134, 252, 0.12);
    -text-contained-focused-fill:rgba(98, 0, 238, 0.12);
    -btn-bkg-color: white;
    -outl-btn-border-color: rgba(255, 255, 255, 0.12);
    -outl-btn-enabled-color: transparent;
    -bkg-color: rgba(39, 50, 49, 1);
    -bkg-color2: rgb(39, 46, 50);
    -text-fill: rgba(255, 255, 255, 0.87);
    -list-cell: rgba(255, 255, 255, 0.04);
    -list-cell-selected: rgba(187, 134, 252, 0.12);
    -list-text-fill: rgba(255,255,255,0.6);
    -scroll-bar-color: rgba(255,255,255,0.38);
}

.fab-extended-btn {
    -fx-background-color: -primary-color;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px, 50%;
    -fx-text-fill: -fab-ext-text-fill;
    -fx-background-radius: 24px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-padding: 12px 24px 12px 45px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 5, 0, 0.0, 4);
}

.fab-extended-btn:hover {
    -fx-background-color: -fab-ext-btn-hover-color;
}

.fab-btn {
    -fx-background-color: -primary-color;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px, 50%;
    -fx-text-fill: -fab-ext-text-fill;
    -fx-background-radius: 24px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-min-width: 48px;
    -fx-max-width: 48px;
    -fx-padding: 12px 12px 12px 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 5, 0, 0.0, 4);
}

.fab-btn:hover {
    -fx-background-color: -fab-ext-btn-hover-color;
}

#add-songs {
    -fx-background-image: url("../assets/icons/add_black_24dp.png");
}

#play-btn {
    -fx-background-color: -secondary-color;
    -fx-background-image: url("../assets/icons/play_arrow_black_24dp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px, 50%;
    -fx-text-fill: -fab-ext-text-fill;
    -fx-background-radius: 24px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-padding: 12px 24px 12px 45px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 5, 0, 0.0, 4);
}

#play-btn:hover {
    -fx-background-color: -play-btn-hover-color;
}

#clear-playlist {
    -fx-background-image: url("../assets/icons/clear_black_24dp.png");
}

.text-btn-contained {
    -fx-background-color: transparent;
    -fx-text-fill: -tertiary-color;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-min-width: 160px;
    -fx-max-width: 160px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.text-btn-contained:hover {
    -fx-background-color: -btn-hover-fill;
}

.text-btn-contained-focused {
    -fx-background-color: -text-contained-focused-fill;
}

.text-btn-contained-enabled-color {
    -fx-text-fill: -primary-color;
}

.outlined-btn {
    -fx-background-color: -outl-btn-enabled-color;
    -fx-border-color: -outl-btn-border-color;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.outlined-btn:hover {
    -fx-background-color: -btn-outlined-hover-fill;
    -fx-text-fill: -primary-color;
}

.outlined-btn-focused {
    -fx-background-color: -btn-focused-fill;
    -fx-border-color: -primary-color;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.outlined-btn-enabled-color {
    -fx-text-fill: -primary-color;
}

.tool-bar {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.play-btn{
    -fx-background-color: -secondary-color;
    -fx-background-image: url("../assets/icons/img.png");
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 30px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-alignment: center ;
    -fx-padding: 10 ;

}
.play-btn:hover{
    -fx-background-color: -play-btn-hover-color;


}
.pause-pane{
    -fx-background-color: rgba(48, 48, 48, 0.70);
    -fx-min-height: 640px;
    -fx-min-width: 1200px;


}
.pause-btn{
    -fx-background-color: -primary-color;
    -fx-background-image: url("../assets/icons/pause.png");
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 30px;

    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-width: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%, 80%;
    -fx-background-position:center;

}
.pause-btn:hover{
    -fx-background-color: -fab-ext-btn-hover-color;


}
.pause-pane{
    -fx-background-color: rgba(48, 48, 48, 0.70);
    -fx-min-height: 640px;
    -fx-min-width: 1000px;


}


.score-box{
    -fx-background-color: -bbkg-color;
    -fx-padding: 0,10,0,10;
    -fx-background-radius: 0px 0px 20px 0px;
    -fx-pref-height: 40px;


}
.pause-text{
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: 500;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-text-fill: -text-fill;
    -fx-alignment: center ;
    -fx-padding: 10 ;


}
.menu-pane{
    -fx-background-color: rgba(39, 50, 49, 1);
    -fx-background-radius: 20;
    -fx-alignment: center ;
    -fx-padding: 10 ;

}
.menu-vbox{
    -fx-background-color: rgba(255, 255, 255, 0.04);
    -fx-background-radius: 20;
    -fx-alignment: center ;
    -fx-padding: 10 ;

}
.menu-vbox:hover{
    -fx-background-color:rgba(255, 255, 255, 0.03);

}



