/* These styles are only to see the box borders and have
   some orientation.
 */
.border-to-test-blue{
    -fx-border-size: 1px;
    -fx-border-color: dodgerblue;
    -fx-border-style: solid;
}

.border-to-test-orange{
    -fx-border-size: 1px;
    -fx-border-color: orange;
    -fx-border-style: solid;
}

/* These custom fonts aren't working */
@font-face {
    font-family:"Roboto Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family:"Roboto Medium";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family:"RobotoMono Medium";
    src: url("../assets/fonts/roboto-mono/RobotoMono-Medium.ttf");
}

/* Just to test a  font that is not installed */
@font-face {
    font-family: "Lobster";
    src: url("../assets/fonts/pushster/Pushster-Regular.ttf");
}

.text-font{
    -fx-font-family: Roboto;
}

.titles{
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: 500;
    -fx-font-size: 16;
    -fx-text-alignment: center;
}

.transparent-bkg{
    -fx-background-color: transparent;
}

* {
    -primary-color: rgba(98,0,238,1);
    -btn-hover-fill: rgba(98,0,238,0.04);
    -btn-focused-fill:rgba(98,0,238,0.12);
    -btn-bkg-color: transparent;
    -text-btn-disabled-fill: rgba(0,0,0,0.38);
    -outl-btn-border-color: rgba(0,0,0,0.12);
}

.text-btn{
    -fx-background-color: -btn-bkg-color;
    -fx-border-radius: 6px;
    -fx-min-width: 160px;
    -fx-max-width: 160px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.text-btn:hover{
    -fx-background-color: -btn-hover-fill;
    -fx-text-fill: -primary-color;
}

.text-btn:focused{
    -fx-background-color: -btn-focused-fill;
    -fx-text-fill: -primary-color;
}

.text-btn-enabled-color{
    -fx-text-fill: -primary-color;
}

.text-btn-disabled-color{
    -fx-text-fill: -text-btn-disabled-fill;
}

.outlined-btn{
    -fx-background-color: -btn-bkg-color;
    -fx-border-color: -outl-btn-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.outlined-btn:hover{
    -fx-background-color: -btn-hover-fill;
    -fx-text-fill: -primary-color;
}

.outlined-btn-focused {
    -fx-background-color: -btn-focused-fill;
    -fx-border-color: -primary-color;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.outlined-btn-enabled-color{
    -fx-text-fill: -primary-color;
}
